body {
    margin: 15;
    padding: 15;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #E6E6FA;
}

h2 {
    color: black;
    text-align: center;
    background-color: #E6E6FA;
    border-style: solid;
    border-width: 1px;
}

.banner {
    margin: 20px;
    color: lightgray;
    text-align: center;
    background-color: black;
    border-style: solid;
    border-width: 3px;
}

.content {
    margin: 40px;
}

.url_entry {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}
