body {
    margin: 30px;
    padding: 15;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background-color: #E6E6FA;
}

h2 {
    color: black;
    text-align: center;
    background-color: #E6E6FA;
    border-style: solid;
    border-width: 1px;
}

ul {
    list-style: none;
}

a:link {
    color: darkgray;
}

a:hover {
    color: lightgray;
}

.banner {
    margin: 10px;
    color: lightgray;
    text-align: center;
    background-color: black;
    border-style: solid;
    border-width: 3px;
}

.content {
    margin: 40px;
}

.menu {
    margin: 10px;
    padding: 5px;
    color: darkgray;
    background-color: darkred
}

.feed_links {
    margin: 10px;
    padding: 5px;
    float: left;
    color: darkgray;
    background-color: black;
}

.feed_content {
    margin: 20px;
    float: left;
}

.url_entry {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start
}
