<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/main.css">
    <!--<link rel="stylesheet" href="main.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <div class="banner">
        <h1>FeedMe</h1>
    </div>
    <div class="menu">
        <a href="/config">Configure RSS Feed URLs</a>
    </div>
    <div class="feed_links">
        <ul>
            {% for rss_feed_url in rss_feed_urls %}
            <li><a class="rss_url_item" href="#">{{ rss_feed_url|safe }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="feed_content">
        <p id="current_rss_feed">Feed content goes here</p>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".rss_url_item").click(function() {
                var rss_feed_url = $(this).text()
                $.ajax({
                    url: "/new/content?url=" + rss_feed_url,
                    type: "get",
                    success: function(response) {
                        $("#current_rss_feed").html(response)
                    },
                    error: function(xhr) {
                        // handle error
                    }
                });
            }); 
        });


    </script>
</body>
</html>