{% extends "base.html" %}

{% block menu %}
<a href="{{ url_for('login') }}">Back</a>
{% endblock %}

{% block content %}
<h3>Register</h3>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.repeat_password.label }}<br>
        {{ form.repeat_password(size=32) }}<br>
        {% for error in form.repeat_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.register() }}</p>
</form>
{% endblock %}
