<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS Feed URL Config</title>
    <link rel="stylesheet" href="/static/main.css">
    <!--<link rel="stylesheet" href="main.css">-->
</head>
<body>
    <div id="banner">
        <h1>FeedMe</h1>
    </div>
    <div id="menu">
        <a href="/">Back</a>
    </div>
    <div id="content">
        <h3>Add RSS Feed URL</h3>

        <!-- Add RSS feed URLs -->
        <form method="POST" action="./config">
            <input type="text" name="url" size="50">
            <input type="submit" value="Add">
        </form>

        <!-- Display any flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Display any added RSS feed entries -->
        <h3>RSS Feed URLs</h3>
        {% for rss_feed_url in rss_feed_urls %}
        <div class="url_entry">
            <form method="POST" action="./update">
                <input type="hidden" value="{{rss_feed_url.url}}" name="old_url">
                <input type="text" value="{{rss_feed_url.url}}" name="new_url" size="50">
                <input type="submit" value="Update">
            </form>
            <form method="POST" action="./delete">
                <input type="hidden" value="{{rss_feed_url.url}}" name="url">
                <input type="submit" value="Delete">
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>